{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
{{ $author := .Title }}
<div class="wrapper">
  {{ with .Params.coverimage }}<div class="article-cover" style="background-image: url({{ . }})"></div>{{ end }}
  <article id="main-container" >
    <header class="container article-header text-center">
      {{ range $element := .Site.Params.authors }}
        {{ if eq $element.name $author }}
        <img alt="" class="avatar" src="{{ $element.image }}" width="30%">
        {{ end }}
      {{ end }}
        <h1 class="title">{{ .Title }}</h1>
        <h4 class="subtitle">{{ .Description }}</h4>
        <hr>
    </header>
    <section class="container article-content">
      {{ .Content }}
    </section>
    <section class="container">
      <h3>Albums</h3>
      <br>
      {{ range where .Site.Pages "Section" "album" | first 6 }}
        {{ if eq .Params.author $author }}
          {{ .Render "summary" }}
        {{ end }}
      {{ end }}
    </section>
  </article>
</div>
{{ partial "footer.html" . }}
