{{ partial "head.html" . }}
{{ partial "navbar.html" . }}
<div class="wrapper">
  {{ with .Params.coverimage }}
    <div class="article-cover" data-stellar-background-ratio="0.25" style="background-image: url({{ . }})"></div>
  {{ end }}
  <article>
    <div class="container">
      <header>
          <h1 class="title">{{ .Title }}</h1>
          <hr>
      </header>
    </div>
    <div class="container">
      {{ range .Data.Pages.ByDate.Reverse }}
        {{ .Render "summary" }}
    	{{ end }}
    </div>
  </article>
</div>
{{ partial "footer.html" . }}
