<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
<head>
  <title>{{ .Site.Params.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  {{ with .Site.Params.fonts }}<link href="https://fonts.googleapis.com/css?family={{ . }}" rel="stylesheet" type="text/css">{{ end }}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/jquery.jplayer.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/jquery.stellar.min.js"></script>
  <script src="/js/stage.js"></script>
  {{ if (eq .IsPage true ) }}
    {{ if (eq .Type "song") }}
    <script src="/js/jquery.leadsheet.js"></script>
    <script>
      $(document).ready( function() {
        var leadSheet = new LeadSheet();
        $(".leadsheet-lyrics").each(function (i, obj) {
          var lyrics = $(this).text().trim();
          leadSheet.parse(lyrics);
          $(this).html(leadSheet.emit());
        });
      });
    </script>
    {{ end }}
  {{ end }}
</head>
<body>
